body {
	background-image: url('../img/app-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.login-reg-form {
	width: 340px;
    margin: 50px auto;
}

.login-reg-form form {
 	margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 25px;
}

.login-reg-form h2 {
    margin: 0 0 15px;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {        
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px;
}

.validation_error { 
	color:red;
}

.table{
    margin-top:20px;
    background-color: white;
    border-radius: 25px;
}

.search_btn{
    margin-right: 10px;
}

.create_btn{
    margin-top: 20px;
}

.search_box {
    border-radius: 25px;
}

input {
    border-radius: 25px;
}